#
# Files for git to ignore
#

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Setuptools and build artifacts
build/
dist/
*.egg-info/

# Virtual Python environments
.venv*/

# MacOS artifacts
.DS_Store
